body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

main {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

section {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  width: 45%;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 5px;
}

button {
  background-color: #333;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#messages {
  padding: 1rem;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.success {
  color: #4CAF50;
}

.error {
  color: #f44336;
}

.logout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #d32f2f;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
  background-color: #333;
}

thead tr {
  color: #fff;
}

tr {
  color: #333;
  text-align: left;
}

th, td {
padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.delete {
  background-color: #f44336;
}

.delete:hover {
  background-color: #d32f2f;
}